<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="968ab9">  <td>18/09/09 07:46:55</td>   <td>0</td> <td title="&gt;&gt;HtmlReporter.startResult()[pri:0, instance:projectpagestestcases.TC001_BankBazzar@235b8e]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@26858030</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/09/09 07:46:56</td>   <td>532</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC001_BankBazzar.setData()[pri:0, instance:projectpagestestcases.TC001_BankBazzar@235b8e]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@26858030</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>18/09/09 07:46:56</td>   <td>541</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HtmlReporter.startTestCase()[pri:0, instance:projectpagestestcases.TC001_BankBazzar@235b8e]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>main@26858030</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>18/09/09 07:46:56</td>   <td>547</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreandPost.loadwebpage()[pri:0, instance:projectpagestestcases.TC001_BankBazzar@235b8e]">&gt;&gt;loadwebpage</td> 
<td>&nbsp;</td>  <td>main@26858030</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/09/09 07:47:01</td>   <td>5785</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_BankBazzar.viewMutualFunds()[pri:0, instance:projectpagestestcases.TC001_BankBazzar@235b8e]">viewMutualFunds</td> 
  <td>main@26858030</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>18/09/09 07:47:23</td>   <td>27588</td> <td title="&lt;&lt;HtmlReporter.stopResult()[pri:0, instance:projectpagestestcases.TC001_BankBazzar@235b8e]">&lt;&lt;stopResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@26858030</td>   <td></td> </tr>
</table>
